@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 20px;
}


body{
    font-family: Merriweather, sans-serif;
}
header{
    background-color:gray;
    height: 5rem;
    font-family: Amatic SC, 'Times New Roman', Times, serif;
}
header div{
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    padding-top: 1rem;

}

ul{
    list-style-type: none;
}

#menu-button{
    display: none;
    text-decoration: none;
    color: black;
}

#big-nav{
    margin-top: 0;
    height: 30rem;
    background-image: url("pictures/DSC_0319.JPG");
    background-size: cover;
    animation-name: changebackground;
    animation-duration: 10s;
    animation-delay: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: center;
    position: relative;
}


#nav-fara-poza{
    margin-top: 0;
    height: 5rem;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
}


#multilevel-dropdown a{
    text-decoration: none;
    color: grey;
    font-weight: 700;

}

#multilevel-dropdown{
    width: 100%;
    padding: 2%;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.parent-1 { 
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 2px;
    padding: 0.2rem;
    height: 2.5rem;;
    line-height: 2.5rem;
    margin-left: 2%;
    margin-right: 2%;
    flex-shrink: 1;
    position: relative;
    /*border-right: #CCC 1px solid;*/
}

.parent-2 { 
    line-height: 2.5rem;
    margin-left: 2%;
    margin-right: 2%;
    flex-shrink: 1;
    position: relative;
}

.child-1 {
    display: none;
}
.child-2 {
    display: none;
}

.parent-1:hover>.child-1 {
    display: block;
    position: absolute;
    width:max-content;
    top:100%;
}

.parent-2:hover>.child-2 {
    display: block;
    position: absolute;
    width: 175%;
    left: 101%;
    top: 0em;
}

.child-1>li {
    letter-spacing: initial;
    padding: 5%;
    background-color: whitesmoke;
    line-height: 2rem;
    width: 100%;
    text-transform: initial;
    font-size: 1em;

}

.child-2>li{
    background-color: whitesmoke;
    line-height: 1.5rem;
    width: 100%;
    font-size: 1em;
    padding: 5%;
    text-transform: initial;
}


body>nav li>a{
    display: inline-block;
    border-radius: 5px;
}

body>nav li>a:hover {
    background-color: rgba(249, 169, 123, 0.2);    
}

.parent li>a:hover {
    background-color: rgba(249, 169, 123, 0.2);
}

.expand {
    font-size: 12px;
    float: right;
    margin-right: 5px;
}

#little-nav{
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    height: 4rem;
    background-color: black;
    padding-top: 2rem;
}

#little-nav > ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

#little-nav li>a:hover{
    color: white;
}

main{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    font-weight: 300;
}

h3, h5{
    font-family: Amatic SC, 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: orangered;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
p{
    text-align: justify;
    font-size: 0.8rem;
    line-height: 1.4rem;
}

.grid-container{
    display: grid;
    grid-template-areas: 'para1 para3'
                        'para2 para3';
    padding: 15px;
    column-gap: 5rem;
}

.grid-container p:first-of-type{
    font-style: italic;
    font-size: 0.8rem;
    grid-area: para1;
}
.grid-container p:nth-of-type(2){
    font-size: 0.8rem;
    place-self: center end;
    font-style: italic;
    grid-area: para2;
}
.grid-container p:nth-of-type(3){
    grid-area: para3;
}

iframe{
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    height: 500px;
    border: none;
    border-radius: 15px;
}

.tag-in-little-nav a{
    color: gray;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 0.8rem;
    margin: 0 2rem 0 2rem;
}


#container-poze-dumbraveni{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
    height: 370px;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
}

#container-poze-dumbraveni figure{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

}
.poze-dumbraveni img {
    width: 90%;
    height: 90%;
    opacity: 50%;
    transition: width 1s, height 1s, opacity 1s;
}
#container-poze-dumbraveni figcaption{
    text-align: center;
    font-size: 0.6rem;
    font-style: italic;
}

.poze-dumbraveni img:hover {
    width: 100%;
    height: 100%;
    opacity: 100%;
}

#resources-contact{
    height: 15rem;
    background-color: black;
    font-size: 0.8rem;
    display: flex;
    flex: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#resources-contact h5{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2rem;
    text-align: center;
}

#resources-contact li a{
    line-height: 1.5rem;
    font-size: smaller;
    color: gray;
    transition: color 2s;
    text-decoration: none;
}

#resources-contact li>a:hover{
    color: white;
    position: relative; 
    left: 1rem;
}

#copyright{
    background-color: black;
    border-top: 2px solid black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
    color: white;
    text-align: center;
    padding: 1.5rem 0;
    margin-top: 4rem;

}

@keyframes slide-in{
    to{
        transform: translateX(0);
    }
}

@keyframes changebackground{
    0% {background-image: url("pictures/DSC_0319.JPG");}

    
    50% {background-image: url("pictures/IMG_2925.JPG");}

}

h3{
    animation: 2s slide-in 3s forwards;
    transform: translateX(-100%);
}

@media screen and (min-width:768px){
    #mutilevel-dropdpown{
        display: flex;
    }
}

@media screen and (max-width:768px){
    html{
        font-size: 15px;
    }
    body>nav{
        height: 100rem;
    }
    #multilevel-dropdown{
        width: 100%;
        padding: 2%;
        height: 15rem;
        margin-top: 0;
        display: none;
        flex-direction: column;
        flex-wrap: nowrap;
        background-color: rgba(255, 255, 255, 0.8);
    }
    #multilevel-dropdown li a{
        text-align:center;
        text-decoration:none;
    }
    #menu-button{
        display: inline-block;
        position: absolute;
        top:5%;
        right:2%;
        font-size: 1.5rem;
    }
    .parent-1:hover>.child-1 {
        display: block;
        position: absolute;
        width:max-content;
        top:0;
        left: 150px;
    }  
    .parent-2:hover>.child-2 {
        display: none;
    }
    .grid-container{
        display: block;
        flex: row nowrap;
        padding: 0;
    }
    .grid-container>p{
        margin-bottom: 2rem;
    }
    .grid-container>p:nth-child(2){
        text-align: right;
    }
    #container-poze-dumbraveni{
        flex-direction: column;
        align-items: center;
    }
    #container-poze-dumbraveni figure{
        width: 70%;
        height: 50%;
    }
}


#galerie-mini{
    height: 10rem;
    display: grid;
    /*flex-wrap: wrap;
    padding: 0 4px;
    align-items: center;*/

    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-gap: 0.2rem;
    justify-content: center;
    align-content: center;
    padding: 4rem 0;
    margin-bottom: 2rem;
    background-color: rgb(255, 247, 234);
}
#galerie-mini>img{
    place-self: center center;
    width: 100%;
}
.galerie-poza-mini{
    align-self: center;
    justify-self: center;
    opacity: 0.5;
    transition: opacity 1s;
}
.galerie-poza-mini:hover{
    opacity: 1;
}

#slideshow{
    padding-top: 2rem;
    height:30rem;
    line-height: 30rem;
    display: grid;
    grid-template-columns: auto 50% auto;
    grid-template-areas: 'stanga centru dreapta';
    background-color: rgb(255, 247, 234);
}



.imagine-slideshow{
    grid-area: 'centru';
    margin-left:auto;
    margin-right: auto;
    height: 100%;
    width:100%
}

.imagine-laterala{
    width:10rem;
    height:12rem;
    margin-top: 70%;
    opacity: 0.6;
    
}

.imagine-laterala:nth-child(1){
    grid-area: 'stanga';
    justify-self: end;
}
.imagine-laterala:nth-child(2){
    grid-area: 'dreapta';
    justify-self: start;
    
}

#formular-contact{
    margin-left: 15%;
    margin-right: 15%;
    padding: 2rem;
    background-color: rgb(255, 247, 234);

}

form>label{
    font-size: 0.8rem;
}

#nume, #mail, #descriere-poza, #data{
    width: 50%;
    height: 2rem;
}

#descriere-poza{
    height:4rem;
}

form button{
    margin-left: 20%;
    width: 10%;
    height: 2rem;
    font-size: 0.8rem;
    border: 2px solid orangered;

}
button:hover{
    font-style: italic;
}